body {
    margin: 20px;
    justify-content: center;
    align-items: center;
    background: url(../images/backgroundWallpaper.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.headerText {
    text-align: center;
    color: #2A2C2B;
    font-family: Bungee Outline;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
}